* {
  margin: 0;
  padding: 0;
}
#root {
  width: 40%;
  height: 400px;
  background-color: rgb(40, 45, 53);
  margin: 0 auto;
  margin-top: 100px;
}

.img {
  width: 40px;
}
.header {
  display: flex;
  height: 80px;
  background-color: rgb(33, 34, 42);
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 0px;
  color: white;
}

.main {
  color: white;
  font-family: sans-serif;
  padding: 20px;
  line-height: 25px;
  margin-left: 50px;
  margin-top: 40px;
}
.main h1 {
  margin-bottom: 15px;
}
.main li {
  font-size: large;
}
ul {
  list-style-type: disc; /* default dots */
}

ul li::marker {
  color: red; /* change bullet color */
  font-size: 20px; /* make bullets bigger */
}
