* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  color: white;
}
.sizebox {
  width: 130px;
}
#root {
  height: 850px;
  width: 370px;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(35, 37, 44);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.img {
  width: 100%;
  border-radius: 10px;
}
.h1 {
  text-align: center;
  margin-top: 10px;
}
h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  letter-height: 2px;
  letter-spacing: 2px;
  color: rgb(243, 191, 153);
  margin-top: 10px;
}
p {
  text-align: center;
  font-size: 13px;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
}
.contact-buttons {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  justify-content: center;
}

.btn {
  flex: 1; /* makes both buttons equal width */
  display: inline-flex;
  align-items: center;
  justify-content: center; /* centers text inside */
  padding: 12px 24px;
  font-size: 13px;
  font-family: sans-serif;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.btn .icon {
  margin-right: 10px;
  font-size: 15px;
}

.email-btn {
  background-color: white;
  color: black;
  border: 2px solid rgb(255, 78, 78);
}

.linkedin-btn {
  background-color: #0077b5;
  color: white;
  border: none;
}

.btn:hover {
  transform: scale(1.05);
}
.about {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.about h2 {
  margin-bottom: 10px;
  font-size: 18px;
}
.about p {
  text-align: left;
}

.interest {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.interest h2 {
  margin-bottom: 10px;
  font-size: 18px;
}
.interest p {
  text-align: left;
}
.footer {
  background-color: rgb(22, 22, 25);
  height: 80px;
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
